name: Publish Package to GitHub NPM Registry

on: 
  release:
    types: [published]
    
jobs:
    npm-package:
      runs-on: ubuntu-latest
      permissions:
        packages: write
        contents: read
      steps:
        - name: Checkout Repository
          uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: '20.x'
            registry-url: 'https://npm.pkg.github.com'
        - name: install dependencies
          run: npm install
        - name: Config List
          run: npm config list
        - name: Who am I?
          run: npm whoami
        - name: Publish package on a registery
          env:
            NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run: npm publish --registry=https://npm.pkg.github.com
        - name: Publish package
          env:
            NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run: npm publish 
